.MemoContainer {
    background-color: aquamarine;
    flex: 1; /* 컬러 밖의 공간 남은 만큼 영역을 채워줌. */
}

.MemoContainer__title {
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
}

.MemoContainer__content {
    width: 100%;
    min-height: 600px;
    box-sizing: border-box;
    font-size: 1.1rem;
}
